<header class="header">
	<div class="header__info js-menu">
		<div class="container header__cont">
		<h1 class="header__logo">layout</h1>
		<nav class="header__nav mobile-hide">
			<ul class="header__menu menu  js-menu-item" data-menu-order="0">
				<li class="menu__item">
					<a class="menu__link" href="#">html</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="#">css</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="#">javascript</a>
				</li>
			</ul>
		</nav>
		<a href="#form-reg" type="button" class="btn js-scroll mobile-hide js-menu-item" data-menu-order="1">enter</a>
	</div>
		<div class="burger js-menu-trigger">
			<span class="burger__i"></span>
			<span class="burger__i"></span>
			<span class="burger__i"></span>
		</div>
	</div>
	<div class="header__slider slider">
		<div class="slider__item slide-fade js-slide">
			<img class="slider__img" src="img/header-slide.jpg" alt="slide-1">
			<div class="container-slide-text">
					<h1 class="slider__text">Monetize your skills now!</h1>
					<a href="#" class="btn btn--slider">Go!</a>
				</div>
		</div>
		<div class="slider__item slide-fade js-slide">
			<img class="slider__img" src="img/header-slide5.jpg" alt="slide-2">
			<div class="container-slide-text">
					<h1 class="slider__text slider__text--dark">Monetize your skills now!</h1>
					<a href="#" class="btn btn--slider">Go!</a>
			</div>
		</div>
		<div class="slider__item slide-fade js-slide">
			<img class="slider__img" src="img/header-slide.jpg" alt="slide-3">
			<div class="container-slide-text">
					<h1 class="slider__text">Monetize your skills now!</h1>
					<a href="#" class="btn btn--slider">Go!</a>
			</div>
		</div>
		<div class="slider__item slide-fade js-slide">
			<img class="slider__img" src="img/header-slide4.jpg" alt="slide-4">
			<div class="container-slide-text">
					<h1 class="slider__text slider__text--dark">Monetize your skills now!</h1>
					<a href="#" class="btn btn--slider">Go!</a>
				</div>
		</div>
		<div class="slider__item slide-fade js-slide">
			<img class="slider__img" src="img/header-slide5.jpg" alt="slide-5">
			<div class="container-slide-text">
					<h1 class="slider__text slider__text--dark">Monetize your skills now!</h1>
					<a href="#" class="btn btn--slider">Go!</a>
			</div>
		</div>
		<div class="container container-arrows">
			<div  class="slider__prev" onclick="plusSlides(-1)"><img class="slider__arrow" src="img/arrow-prew.png" alt="prev"></div>
			<div class="slider__next" onclick="plusSlides(1)"><img class="slider__arrow" src="img/arrow-next.png" alt="next"></div>
		</div>
		<div class="slider__dots">
			<span class="slider__dot js-slider-dot active" onclick="currentSlide(1)"></span>
			<span class="slider__dot js-slider-dot" onclick="currentSlide(2)"></span>
			<span class="slider__dot js-slider-dot" onclick="currentSlide(3)"></span>
			<span class="slider__dot js-slider-dot" onclick="currentSlide(4)"></span>
			<span class="slider__dot js-slider-dot" onclick="currentSlide(5)"></span>
		</div>
	</div>

</header>
<div class="menu-m">
	<div class="container">
	</div>
</div>