<section class="section about">
	<div class="container about__info">
		<div class="about__text-block">
			<h1 class="about__title">Something About Me</h1>
			<div class="about__text">
				<p>In this section, you can specify any information about yourself, insert your photos, your interests
				and skills. It is also desirable to use tag canvas.
				</p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
					culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
					illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
					voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor 
					sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore 
					et dolore magnam aliquam quaerat voluptatem.
			</div>
		</div>
		<div class="about__photo">
			<span class="about__subtitle">
				Your photo
			</span>
			<img class="about__img" src="img/about-photo.jpg" alt="My-photo">
		</div>
	</div>
</section>

