<section class="section register">
            <div class="register__form" id="form-reg">
                <div class="register__title">Register</div>
                <form class="form register-form" action="#" method="post" name="register-form">
                    <input required class="form__inp" type="email" placeholder="Email">
                    <input required class="form__inp" type="password" placeholder="Password">
                    <div class="form-group">
                        <select required class=" js-sel" name="sel-country">
                                <option value="" disabled selected >Country</option>
                                <option value="Country 1">Country 1</option>
                                <option value="Country 2">Country 2</option>
                                <option value="Country 3">Country 3</option>
                                <option value="Country 4">Country 4</option>
                                <option value="Country 5">Country 5</option>
                                <option value="Country 6">Country 6</option>
                                <option value="Country 7">Country 7</option>
                                <option value="Country 8">Country 8</option>
                                <option value="Country 9">Country 9</option>
                                <option value="Country 10">Country 10</option>
                            </select>
                    </div>
                    <button type="submit" class="btn">Enter</button>
                </form>
            </div>
</section>