<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Test-mgid</title>
</head>
<body>
{% include "parts/_header.html" %}
{% include "parts/_section-about.html" %}
{% include "parts/_section-register.html" %}
{% include "parts/_footer.html" %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="script/select-widget-min.js"></script>
<script src="script/script.js"></script>
<script src="script/canvas-bg.js"></script>
</body>
</html>