@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}

.btn {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #27ae60;
  border: none;
  outline: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.btn:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__inp {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  margin-bottom: 10px;
  max-width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.form__inp::-webkit-input-placeholder {
  color: #555555;
}

.form__inp:-ms-input-placeholder {
  color: #555555;
}

.form__inp::-ms-input-placeholder {
  color: #555555;
}

.form__inp::placeholder {
  color: #555555;
}

.form__sel {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  color: #555555;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form__sel::-ms-expand {
  /* для IE */
  display: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../font/RobotoRegular/RobotoRegular.eot");
  src: url("../font/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../font/RobotoRegular/RobotoRegular.woff") format("woff"), url("../font/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../font/RobotoLight/RobotoLight.eot");
  src: url("../font/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../font/RobotoLight/RobotoLight.woff") format("woff"), url("../font/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../font/RobotoMedium/RobotoMedium.eot");
  src: url("../font/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../font/RobotoMedium/RobotoMedium.woff") format("woff"), url("../font/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../font/RobotoBold/RobotoBold.eot");
  src: url("../font/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../font/RobotoBold/RobotoBold.woff") format("woff"), url("../font/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoThin";
  src: url("../font/roboto.thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  background-color: #2c3e50;
}

.header__logo {
  font-size: 25px;
  margin: 0;
  background-color: white;
  padding: 4px 10px;
  color: #27ae60;
  text-transform: uppercase;
  font-weight: 400;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
}

.header .menu__item {
  font-size: 15px;
  margin: 0 20px;
}

.header .menu__item:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.header .menu__link {
  color: white;
  text-decoration: none;
}

.slider {
  position: relative;
  margin-bottom: -5px;
}

.slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 335px;
  width: 100%;
}

.slider__prev, .slider__next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 0 70px 0 60px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  height: 99%;
}

.slider__prev:hover, .slider__next:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.slider__arrow {
  top: 50%;
  position: absolute;
  margin-top: -22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__next {
  right: 0;
}

.slider__prev {
  left: 0;
}

.slider__dot {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #2c3e50;
  opacity: 0.5;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slider__dot--active, .slider__dot:hover {
  opacity: 1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.slider .slide-fade {
  -webkit-animation-name: slide-fade;
          animation-name: slide-fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider__dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
}

.slider__dots .active {
  opacity: 1;
}

.slider .container-slide-text {
  position: absolute;
  right: 20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  max-width: 30%;
  z-index: 9;
}

.slider__text {
  color: #555555;
  font-size: 55px;
  margin-top: 0;
  font-weight: 400;
  line-height: 65px;
  font-family: RobotoThin, sans-serif;
  -webkit-animation-name: slide-content;
          animation-name: slide-content;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slider__text--dark {
  color: black;
}

.slider .btn--slider {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 7px 24px;
  -webkit-animation-name: slide-content;
          animation-name: slide-content;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  z-index: 9;
}

.slider .btn--slider:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), to(#9ecb2d));
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
}

.slider .container-arrows {
  position: absolute;
  left: 50%;
  height: 100%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes slide-fade {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -40px;
  }
}

@keyframes slide-fade {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -40px;
  }
}

@-webkit-keyframes slide-content {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-content {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.burger {
  width: 40px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.burger__i {
  display: block;
  background-color: ghostwhite;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger__i:nth-child(1) {
  top: 0px;
}

.burger__i:nth-child(2) {
  top: 9px;
}

.burger__i:nth-child(3) {
  top: 18px;
}

.burger.menu-m__close .burger__i:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger.menu-m__close .burger__i:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burger.menu-m__close .burger__i:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu-m {
  position: fixed;
  top: 0;
  z-index: 9;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-m__item {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 50px;
  text-align: center;
}

.menu-m .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.menu-m .menu {
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
  list-style: none;
  display: block;
  text-decoration: none;
}

.menu-m .menu__item {
  margin-top: 30px;
}

.menu-m .menu__item :hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.menu-m .menu__link {
  color: whitesmoke;
  opacity: 1;
  font-family: RobotoThin;
  text-transform: uppercase;
}

.menu-m__close {
  position: fixed !important;
  z-index: 99;
}

.menu-open .menu-m {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-m .btn {
  padding: 10px 30px;
}

.about {
  overflow-x: hidden;
  position: relative;
}

.about__title {
  font-family: RobotoThin, sans-serif;
  margin-top: 0;
  padding-top: 40px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__img {
  max-width: 340px;
}

.about__photo {
  position: relative;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.about__text {
  color: #444444;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.about__text-block {
  width: 40%;
}

.about__subtitle {
  display: block;
}

.register {
  background-image: url("../img/register-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 600px;
  position: relative;
}

.register__form {
  background-color: #ffffff;
  padding: 40px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  font-family: "RobotoThin";
}

.register__form .btn {
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 32px;
  font-family: Roboto;
  padding: 5px 20px;
}

.register__title {
  color: #555555;
  font-size: 35px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}

.register .form-group {
  width: 100%;
  position: relative;
}

.footer {
  width: 100%;
  background-color: #2c3e50;
}

.footer__cprt {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  padding: 15px 0;
}

div.select-main {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  width: 100%;
  outline: none;
  color: #555555;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

div.select-main.z-index {
  z-index: 10;
}

div.select-main.disabled {
  cursor: default;
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
}

div.select-main.disabled div.select-set {
  cursor: default;
}

div.select-main.disabled div.select-arrow {
  cursor: default;
}

div.select-set {
  border-radius: 5px;
  color: #555555;
  cursor: pointer;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  text-align: left;
  padding: 4px 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-items:first-of-type {
  display: none;
}

div.select-arrow {
  border-top: 7px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  cursor: pointer;
  height: 0px;
  position: absolute;
  top: 18px;
  right: 12px;
  width: 0px;
  z-index: 7;
}

div.select-arrow.reverse {
  border-top: 7px solid transparent;
  border-bottom: 7px solid black;
  top: 10px;
}

div.select-block {
  background-color: #FFFFFF;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  line-height: 20px;
  position: absolute;
  top: 47px;
  width: 100%;
}

ul.select-list {
  cursor: pointer;
  margin: 0;
  padding-left: 0;
}

ul.select-list::-webkit-scrollbar {
  width: 2px;
}

ul.select-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

ul.select-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 40px;
  opacity: 0.1;
  background-color: #555555;
}

li.select-items {
  color: #333333;
  padding: 13px 15px;
  text-align: left;
  list-style: none;
  border-bottom: 1px #f4f5f4 solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li.select-items:hover,
li.select-items.active {
  background-color: #f5f5f5;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .slider__img {
    height: 420px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .slider .container-slide-text {
    right: 19%;
    max-width: 36%;
  }
  .menu-open .menu-m {
    display: none;
  }
  .slider__img {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .slider__text {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .slider .container-slide-text {
    right: 21%;
    max-width: 40%;
  }
  .slider .btn {
    padding: 3px 15px;
  }
  .slider__img {
    height: 300px;
  }
  .skillbar__title-block {
    font-size: 11px;
  }
}

@media (max-width: 990px) {
  .mobile-hide {
    display: none;
  }
  .burger {
    display: block !important;
    position: absolute;
    top: 8px;
    right: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .slider__text {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .slider .container-slide-text {
    right: 23%;
    max-width: 40%;
  }
  .slider .btn {
    padding: 5px 16px;
    font-size: 16px;
  }
  .slider__img {
    height: 250px;
  }
  .slider .slider__prev:hover, .slider .slider__next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .slider .slider__next {
    right: 0;
  }
  .slider__prev, .slider__next {
    padding: 0 50px 0 40px;
  }
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__slills {
    width: 100%;
  }
  .about__text {
    font-size: 23px;
  }
  .about_photo {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .container {
    width: 95%;
  }
  .slider__img {
    height: 170px;
  }
  .slider__prev, .slider__next {
    padding: 0 50px 0 40px;
  }
  .slider__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .slider .container-slide-text {
    right: 25%;
    max-width: 40%;
  }
  .slider .btn {
    padding: 1px 10px;
    font-size: 12px;
  }
  .slider__dots {
    bottom: 10px;
  }
  .slider__dot {
    width: 12px;
    height: 12px;
  }
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__slills {
    width: 100%;
  }
  .about__text {
    font-size: 18px;
  }
  .about_photo {
    width: 100%;
    margin: 0 auto;
  }
  .about__img {
    width: 310px;
  }
  .about__glass {
    position: absolute;
    width: 80px;
    top: 143px;
    left: 132px;
  }
  .register__form {
    padding: 25px 15px;
  }
  .skillbar__title-block {
    font-size: 12px;
  }
}
